<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/main.css">

        <link rel="stylesheet" href="static/css/rangecalendar.css">
        <link rel="stylesheet" href="static/css/jquery-ui-1.10.3.custom.min.css">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
        <nav class="navbar navbar-default navbar-fixed-top base-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-buttons" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ appName }}</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h2>Not Activated</h2>
            </div>
            <p>An admin has not yet activated your account. It may take more than a week for an admin to activate your account.
            You will not be able to log in or manage your account until it is activated.</p>
            <hr>
            <footer>
                <p>
                    &copy; Michigan Tech Broomball 2015
                    <span class="pull-right">
                        Contact Us: <a href="mailto:webmaster@broomball.mtu.edu">webmaster@broomball.mtu.edu</a>
                    </span>
                </p>
            </footer>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/vendor/jquery-ui.min.js"></script>
        <script src="static/js/vendor/jquery.rangecalendar.js"></script>
        <script src="static/js/vendor/moment+langs.min.js"></script>


        <script src="static/js/main.js"></script>
        <script src="static/js/login.js"></script>
    </body>
</html>